  <div>
    <%= month_calendar events: @bookings do |date, bookings| %>
      <div class="calendar-day">
        <%= date.day %>
      </div>
      <% bookings.each do |booking| %>
        <div>
          <%= booking.user.first_name %>
        </div>
      <% end %>
    <% end %>
  </div>
