.banner {
  color: white;
  text-align: center;
  height: 35vh;
  background-size: cover !important;
  // display: flex;
  align-items: left;
  margin: 10px;
  position: relative;
  background-position: center bottom;
}

.banner-content {
  position: absolute;
  bottom: 4%;
  left: 2%;
}

.banner h1 {
  font-size: 330%;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  margin-bottom: 0px
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
