.form-input {
  color: #333333;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #333333;
  box-shadow: none;
}




/* OVERRIDING BOOTSTRAP FORM-CONTROL WITH FORM-INPUT.
WORTH ASKING ARTHUR HOW TO OVERRIDE IT AND WHETHER IT'S THE BEST WAY TO DO IT */

/*.form-control.form-input:active {
  font-color: #FAFAFA;
  border-bottom: 1px solid #FAFAFA;
  box-shadow: none;
  width: 50%;
}

.form-control.form-input:focus {
  font-color: #FAFAFA;
  border-bottom: 1px solid #FAFAFA;
  box-shadow: none;
  width: 50%;
}


*/
