.form-input {
  color: #333333;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #333333;
  box-shadow: none;
}

.search-input-class {
  color: $brand-primary;
  background-color: $body-bg;
  box-shadow: none;
  border: none;
  font-size: 20px;
  text-align: center;
}

.submit-input-class {
  background-color: $brand-primary;
  border: 3px solid black;
  font-size: 20px;
}




/* OVERRIDING BOOTSTRAP FORM-CONTROL WITH FORM-INPUT.
WORTH ASKING ARTHUR HOW TO OVERRIDE IT AND WHETHER IT'S THE BEST WAY TO DO IT */

/*.form-control.form-input:active {
  font-color: #FAFAFA;
  border-bottom: 1px solid #FAFAFA;
  box-shadow: none;
  width: 50%;
}

.form-control.form-input:focus {
  font-color: #FAFAFA;
  border-bottom: 1px solid #FAFAFA;
  box-shadow: none;
  width: 50%;
}


*/
